.link {
  margin: 10px;
  transition: 0.2s;
}
.link:hover,
.link.active {
  border-bottom: yellow 2px solid;
  transition: 0.2s;
  margin-top: -1px;
}
.link,
.link:visited {
  color: white;
  text-decoration: none;
  padding: 20px;
  transition: 0.2s;
}
.link:hover,
.link.active {
  color: yellow;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .nav {
    background-color: rgba(37, 37, 37, 0.74);
  }
  .navbar-toggler {
    border: none !important;
  }
  .navbar-toggler:focus {
    background-color: transparent !important;
    
  }
}
